[submodule "submodules/vibe-dspy"]
	path = submodules/vibe-dspy
	url = https://github.com/Archelunch/vibe-dspy
[submodule "submodules/attachments"]
	path = submodules/attachments
	url = https://github.com/MaximeRivest/attachments
[submodule "submodules/ovllm"]
	path = submodules/ovllm
	url = https://github.com/MaximeRivest/ovllm
[submodule "submodules/dspy"]
	path = submodules/dspy
	url = https://github.com/stanfordnlp/dspy
[submodule "submodules/codex"]
	path = submodules/codex
	url = https://github.com/openai/codex
